<!doctype html>
<html>
<head>
    <title>TODO list</title>
    <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
</head>

<body>
    <header>
        <h1>The To-Do list</h1>
    </header>
    <% include timezone %>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/scripts.js"></script>
</body>
</html>
