<!doctype html>
<html>
<head>
<title>TODO list</title>

<style>
body {
width:900px;
margin:auto;
}

section {
background:#EEE;
display:inline-block;
width: 500px;
}


</style>


</head>

<body>
<h1>The To-Do list</h1>

<section>
<h2>Today</h2>
<div class="list">

<ul>
<li>tache 1</li>
<li>tache 2</li>
</ul>

</div>
<form action="#" method="post">
<input type="text" name=""/>
<input type="submit" value="new task"/>
</form>
</section>


</body>
</html>
