<!doctype html>
<html>
<head>
    <title>TODO list</title>
    <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
</head>

<body>
    <header>
        <h1>The To-Do list<% if (user.name) {%> of <%= user.name %><% } %></h1>
        <div class="user-box">
            <% if (user.logged_in) { %>
                <a href="/logout">Log out</a>
            <% } else { %>
                <a href="/login">Log in</a> or <a href="/register">Register</a>
            <% } %>
        </div>
    </header>
    <% if (user.logged_in) { %>
        <% include timezone %>
    <% } else {%>
        <p>It's currently not possible to set a todo list without a registered account.</p>
    <% } %>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/scripts.js"></script>
</body>
</html>
