<!doctype html>
<html>
<head>
    <title>TODO list</title>
    <link type="text/css" rel="stylesheet" href="/assets/styles.css"/>
</head>

<body>
    <header>
        <h1>Log in</h1>
    </header>
    <% if (error) { %><p>Wrong login/password.</p><% } %>
    <form method="post" action="/login">
        <div class="row">
            <label for="login">User name</label><input type="text" name="login" id="login"/>
        </div>
        <div class="row">
            <label for="password">Password</label><input type="password" name="password" id="password"/>
        </div>
        <div class="row">
            <input type="submit" value="Login"/>
        </div>
    </form>
</body>
</html>
