body {
    width:900px;
    margin:auto;
}

header h1 {
    display:inline-block;
    width:79%;
}
header .user-box {
    display:inline-block;
    width:20%;
}

.row label {
    display:inline-block;
    margin:0 0 5px;
    width:150px;
}

.timezone {
    background:#FFFBF5;
    box-shadow:0 0 10px 0 #CCC;
    display:inline-block;
    margin: 10px;
    vertical-align: top;
    width: 400px;
}

.timezone h2 {
	margin:0;
	padding: 10px 25px;
	background:#FFF0F0;
}

.timezone .placeholder {
    display:none;
}
.timezone .placeholder:only-child {
    display:block;
}
.timezone .ui-sortable-placeholder {
    position:relative;
}
.timezone .ui-sortable-placeholder:after {
    position:absolute;
    height:100%;
    width:100%;
    content:"";
    top:0;
    left:0;
    visibility:visible;
    background-color:rgba(196, 0, 0, 0.15);
}

.list {
	margin:0;
	padding:0;
}
.list li {
	list-style:none;
	border-bottom:1px solid #CCC;
	padding:8px 15px;
}

.newtask {
	padding:8px 15px;
}
.newtask [type=submit] {
	background-image:linear-gradient(to bottom, #8D8, #66D066);
	border-radius:3px;
	border:1px solid #33BB33;
	padding:2px 7px;
}